@model Lab1MVC.Models.Course
<html>
<head>
    <title>Course</title>
</head>
<body>
    <br />
    <table>
        <tr>
            <td>Course Id:</td>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <td>Course Name:</td>
            <td>@Model.Name</td>
        </tr>
    </table>
</body>
</html>
